<a href="https://colab.research.google.com/github/rcarasek/Python-for-Investment/blob/main/10_API_BCB_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://dadosabertos.bcb.gov.br/dataset/20542-saldo-da-carteira-de-credito-com-recursos-livres---total/resource/6e2b0c97-afab-4790-b8aa-b9542923cf88

json_serie-sgs-20542
URL: http://api.bcb.gov.br/dados/serie/bcdata.sgs.20542/dados?formato=json

In [1]:
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

import matplotlib
matplotlib.rcParams['figure.figsize'] = (16,8)

Obtendo Dados através da API do Banco Central

In [2]:
url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.20542/dados?formato=json'
df = pd.read_json(url)

In [5]:
df

           data    valor
0    01/03/2007   490460
1    01/04/2007   505753
2    01/05/2007   514647
3    01/06/2007   525046
4    01/07/2007   541348
..          ...      ...
164  01/11/2020  2279033
165  01/12/2020  2323131
166  01/01/2021  2315794
167  01/02/2021  2335942
168  01/03/2021  2379921

[169 rows x 2 columns]