In [15]:
!pip install MetaTrader5
!pip install pandas

import MetaTrader5 as mt5
import pandas as pd
from datetime import datetime

Requirement already satisfied: MetaTrader5 in c:\python39\lib\site-packages (5.0.34)
Requirement already satisfied: numpy>=1.7 in c:\python39\lib\site-packages (from MetaTrader5) (1.20.3)
Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\python39\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\appdata\roaming\python\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [16]:
mt5.initialize()
d = mt5.terminal_info()
d = d._asdict()

# for k in d.keys():
#     print(k, ' ----> ', d[k])

ativo = 'PETR4'
dataIni = datetime(2021,1,2)
flag = mt5.COPY_TICKS_ALL
count = 10
dados = mt5.copy_ticks_from(ativo, dataIni, count, flag)

df = pd.DataFrame(dados)

mt5.shutdown()

True

In [17]:
ativo

'PETR4'

In [19]:
dados

array([(1609743604,  0.  ,  0.  ,  0.  ,     0, 1609743604908,   6,     0.),
       (1609743650, 28.22, 28.45,  0.  ,     0, 1609743650000,   6,     0.),
       (1609752600, 28.22, 28.45,  0.  ,     0, 1609752600152,   6,     0.),
       (1609752694, 28.22, 28.45,  0.  ,     0, 1609752694823,   6,     0.),
       (1609752750, 28.22, 28.45,  0.  ,     0, 1609752750227,   2,     0.),
       (1609754977, 28.22, 28.45, 28.65, 30700, 1609754977902, 312, 30700.),
       (1609754977, 28.22, 28.45, 28.65, 23000, 1609754977902, 312, 23000.),
       (1609754977, 28.22, 28.45, 28.65,  9900, 1609754977902, 312,  9900.),
       (1609754977, 28.22, 28.45, 28.65, 14300, 1609754977902, 312, 14300.),
       (1609754977, 28.22, 28.45, 28.65,  3600, 1609754977902, 312,  3600.)],
      dtype=[('time', '<i8'), ('bid', '<f8'), ('ask', '<f8'), ('last', '<f8'), ('volume', '<u8'), ('time_msc', '<i8'), ('flags', '<u4'), ('volume_real', '<f8')])

In [18]:
df

         time    bid    ask   last  volume       time_msc  flags  volume_real
0  1609743604   0.00   0.00   0.00       0  1609743604908      6          0.0
1  1609743650  28.22  28.45   0.00       0  1609743650000      6          0.0
2  1609752600  28.22  28.45   0.00       0  1609752600152      6          0.0
3  1609752694  28.22  28.45   0.00       0  1609752694823      6          0.0
4  1609752750  28.22  28.45   0.00       0  1609752750227      2          0.0
5  1609754977  28.22  28.45  28.65   30700  1609754977902    312      30700.0
6  1609754977  28.22  28.45  28.65   23000  1609754977902    312      23000.0
7  1609754977  28.22  28.45  28.65    9900  1609754977902    312       9900.0
8  1609754977  28.22  28.45  28.65   14300  1609754977902    312      14300.0
9  1609754977  28.22  28.45  28.65    3600  1609754977902    312       3600.0