In [20]:
!pip install MetaTrader5
!pip install pandas

import MetaTrader5 as mt5
import pandas as pd
from datetime import datetime

Requirement already satisfied: MetaTrader5 in c:\python39\lib\site-packages (5.0.34)
Requirement already satisfied: numpy>=1.7 in c:\python39\lib\site-packages (from MetaTrader5) (1.20.3)
Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\appdata\roaming\python\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\python39\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [21]:
mt5.initialize()
d = mt5.terminal_info()
d = d._asdict()

# for k in d.keys():
#     print(k, ' ----> ', d[k])

ativo = 'BBSE3'
dataIni = datetime(2021,1,2)
flag = mt5.COPY_TICKS_ALL
count = 10
dados = mt5.copy_ticks_from(ativo, dataIni, count, flag)

df = pd.DataFrame(dados)

mt5.shutdown()

True

In [22]:
ativo

'BBSE3'

In [23]:
dados

array([(1609743604,  0.  ,  0.  ,  0.  ,     0, 1609743604908,   6,     0.),
       (1609743650, 29.62, 29.92,  0.  ,     0, 1609743650000,   6,     0.),
       (1609752600, 29.62, 29.92,  0.  ,     0, 1609752600241,   6,     0.),
       (1609755123, 29.62, 29.92, 29.63,  3400, 1609755123182, 376,  3400.),
       (1609755123, 29.62, 29.92, 29.63,  2800, 1609755123182, 376,  2800.),
       (1609755123, 29.62, 29.92, 29.63,  7700, 1609755123182, 376,  7700.),
       (1609755123, 29.62, 29.92, 29.63,  4400, 1609755123182, 376,  4400.),
       (1609755123, 29.62, 29.92, 29.63,  6400, 1609755123182, 376,  6400.),
       (1609755123, 29.62, 29.92, 29.63, 14700, 1609755123182, 376, 14700.),
       (1609755123, 29.62, 29.92, 29.63,  1300, 1609755123182, 376,  1300.)],
      dtype=[('time', '<i8'), ('bid', '<f8'), ('ask', '<f8'), ('last', '<f8'), ('volume', '<u8'), ('time_msc', '<i8'), ('flags', '<u4'), ('volume_real', '<f8')])

In [24]:
df

         time    bid    ask   last  volume       time_msc  flags  volume_real
0  1609743604   0.00   0.00   0.00       0  1609743604908      6          0.0
1  1609743650  29.62  29.92   0.00       0  1609743650000      6          0.0
2  1609752600  29.62  29.92   0.00       0  1609752600241      6          0.0
3  1609755123  29.62  29.92  29.63    3400  1609755123182    376       3400.0
4  1609755123  29.62  29.92  29.63    2800  1609755123182    376       2800.0
5  1609755123  29.62  29.92  29.63    7700  1609755123182    376       7700.0
6  1609755123  29.62  29.92  29.63    4400  1609755123182    376       4400.0
7  1609755123  29.62  29.92  29.63    6400  1609755123182    376       6400.0
8  1609755123  29.62  29.92  29.63   14700  1609755123182    376      14700.0
9  1609755123  29.62  29.92  29.63    1300  1609755123182    376       1300.0