<a href="https://colab.research.google.com/github/rcarasek/Python-for-Investment/blob/main/pandas%26coalas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PANDAS

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

In [16]:
cofrinho = {'Ativo' : ['BBSE3', 'GGBR4'],
            'Close' : [23.42, 32.70]       }

In [17]:
cofrinho

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [18]:
display(cofrinho)

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [19]:
print(cofrinho)

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [20]:
df_cofrinho = pd.DataFrame(cofrinho)

In [21]:
print(df_cofrinho)

   Ativo  Close
0  BBSE3  23.42
1  GGBR4  32.70

In [22]:
display(df_cofrinho)

   Ativo  Close
0  BBSE3  23.42
1  GGBR4  32.70

In [25]:
df_ativosDoExcel = pd.read_excel('/content/AtivosRCTestePy.xlsx')

In [32]:
display(df_ativosDoExcel)

    CÃ“DIGO   QTD     COMPRA  VAL.COMPRA  TOTAL COMPRA  VAL. ATUAL
0    BBAS3   500 2020-10-16      30.560       15280.0       33.40
1    BBSE3   100 2020-07-21      28.440        2844.0       23.40
2    CMIG4  1200 2020-07-06       8.793       10551.6       13.66
3    COCE5   600 2020-07-20      59.530       35718.0       56.41
4    COGN3   700 2020-12-22       4.550        3185.0        4.31
5    CSAN3   800 2021-03-25      22.400       17920.0       21.85
6    DIRR3   500 2021-04-13      13.490        6745.0       13.07
7    ELET3   200 2021-03-15      32.570        6514.0       42.96
8    GGBR4   100 2020-09-24      20.680        2068.0       33.08
9    GGBR4   700 2020-09-24      20.680       14476.0       33.08
10   IRBR3   600 2020-06-16       9.860        5916.0        6.23
11   ITSA4  1800 2020-06-03      10.230       18414.0       10.74
12   ITSA4  1000 2021-04-23      10.230       10230.0       10.74
13   JPSA3   300 2021-04-05      26.730        8019.0       29.18
14   MTRE3  2100 2020-12-28      13.560       28476.0       12.00
15   OIBR3  2800 2020-12-14       2.110        5908.0        1.54
16   RRRP3   200 2021-03-25      39.770        7954.0       40.90
17  SAPR11    30 2020-06-23      28.320         849.6       20.68
18   SAPR4  5000 2021-05-13       4.060       20300.0        4.15
19   VALE3   400 2021-03-03      95.210       38084.0      111.00

In [35]:
display(df_ativosDoExcel['CÃ“DIGO'])

0      BBAS3
1      BBSE3
2      CMIG4
3      COCE5
4      COGN3
5      CSAN3
6      DIRR3
7      ELET3
8      GGBR4
9      GGBR4
10     IRBR3
11     ITSA4
12     ITSA4
13     JPSA3
14     MTRE3
15     OIBR3
16     RRRP3
17    SAPR11
18     SAPR4
19     VALE3
Name: CÃ“DIGO, dtype: object