<a href="https://colab.research.google.com/github/rcarasek/Python-for-Investment/blob/main/pandas%26coalas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PANDAS

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
cofrinho = {'Ativo' : ['BBSE3', 'GGBR4'],
            'Close' : [23.42, 32.70]       }

In [4]:
display(cofrinho)

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [5]:
print(cofrinho)

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [6]:
df_cofrinho = pd.DataFrame(cofrinho)

In [7]:
print(df_cofrinho)

   Ativo  Close
0  BBSE3  23.42
1  GGBR4  32.70

In [8]:
display(df_cofrinho)

   Ativo  Close
0  BBSE3  23.42
1  GGBR4  32.70

In [23]:
df_ativosDoExcel = pd.read_excel('/content/Ativos_Orders_Py.xlsx')

In [31]:
display(df_ativosDoExcel)

    CÃ“DIGO  VAL. ATUAL
0    BBAS3       33.40
1    BBSE3       23.40
2    CMIG4       13.66
3    COCE5       56.41
4    COGN3        4.31
5    CSAN3       21.85
6    DIRR3       13.07
7    ELET3       42.96
8    GGBR4       33.08
9    GGBR4       33.08
10   IRBR3        6.23
11   ITSA4       10.74
12   ITSA4       10.74
13   JPSA3       29.18
14   MTRE3       12.00
15   OIBR3        1.54
16   RRRP3       40.90
17  SAPR11       20.68
18   SAPR4        4.15
19   VALE3      111.00

In [30]:
df_orders = pd.read_excel('/content/Ativos_Orders_Py.xlsx', sheet_name='ordem')

In [36]:
display(df_orders.head(2))

      CÃ³digo           Ativo  ... Cancelada por       Atualizado em
0  561826311        BBSER230  ...           NaN 2021-05-28 16:48:49
1  561821722  BBSETAR220R230  ...           NaN 2021-05-28 16:45:48

[2 rows x 19 columns]

In [48]:
display(df_orders)

       CÃ³digo           Ativo  ... Cancelada por       Atualizado em
0   561826311        BBSER230  ...           NaN 2021-05-28 16:48:49
1   561821722  BBSETAR220R230  ...           NaN 2021-05-28 16:45:48
2   561816756        ITSAF110  ...           NaN 2021-05-28 16:50:15
3   561812046        BBSER230  ...       Cliente 2021-05-28 16:48:37
4   561802786        BBSER230  ...           NaN 2021-05-28 16:31:37
5   561716272        BBSER230  ...       Cliente 2021-05-28 16:37:11
6   561685297        GGBRG363  ...           NaN 2021-05-28 14:44:51
7   561683052        GGBRG363  ...           NaN 2021-05-28 14:40:20
8   561669864        BBSER230  ...           NaN 2021-05-28 15:06:13
9   561654025  BBSETAS210S230  ...           NaN 2021-05-28 14:14:43
10  561652860  BBSETAS210S230  ...       Cliente 2021-05-28 14:13:52
11  561445417  BBSETAS230S240  ...           NaN 2021-05-28 11:53:38
12  561435293        BBSEF245  ...           NaN 2021-05-28 11:18:46
13  561425106        ITSAF110  ...           NaN 2021-05-28 12:33:17
14  561422949        ITSAF110  ...       Cliente 2021-05-28 16:40:23
15  561363752        GGBRG353  ...           NaN 2021-05-28 10:43:52
16  561339390        BBSER210  ...       Cliente 2021-05-28 10:36:58
17  561326811        BBSES235  ...           NaN 2021-05-28 10:28:28
18  561324477        BBSES235  ...       Cliente 2021-05-28 10:28:24
19  561318657        BBSER235  ...           NaN 2021-05-28 10:26:16
20  561313212        BBSER235  ...       Cliente 2021-05-28 10:24:11

[21 rows x 19 columns]

In [53]:
def MostraCfeStatus(St):
  condicao  = df_orders['Status'] == St 
  display(df_orders.loc[condicao].head(1))

In [54]:
MostraCfeStatus('Executada')

      CÃ³digo     Ativo      Tipo  ... Cancelada em Cancelada por       Atualizado em
0  561826311  BBSER230  Limitada  ...          NaT           NaN 2021-05-28 16:48:49

[1 rows x 19 columns]

In [55]:
MostraCfeStatus('Aberta')

      CÃ³digo     Ativo      Tipo  ... Cancelada em Cancelada por       Atualizado em
7  561683052  GGBRG363  Limitada  ...          NaT           NaN 2021-05-28 14:40:20

[1 rows x 19 columns]

In [56]:
MostraCfeStatus('Cancelada')

      CÃ³digo     Ativo  ... Cancelada por       Atualizado em
3  561812046  BBSER230  ...       Cliente 2021-05-28 16:48:37

[1 rows x 19 columns]

In [ ]:
display(df_ativosDoExcel['CÃ“DIGO'])

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
display(df_orders.describe())

             CÃ³digo      PreÃ§o  Stop  ...   Quantidade  Qtd. Executada  PreÃ§o MÃ©dio
count  2.100000e+01  21.000000   0.0  ...    21.000000       21.000000    12.000000
mean   5.615646e+08   0.402381   NaN  ...   695.238095      338.095238     0.428333
std    1.992503e+05   0.269498   NaN  ...   378.782511      428.341208     0.280189
min    5.613132e+08   0.040000   NaN  ...   100.000000        0.000000     0.150000
25%    5.613638e+08   0.200000   NaN  ...   500.000000        0.000000     0.225000
50%    5.616529e+08   0.270000   NaN  ...   800.000000      100.000000     0.325000
75%    5.617163e+08   0.500000   NaN  ...   800.000000      500.000000     0.550000
max    5.618263e+08   1.000000   NaN  ...  1500.000000     1500.000000     1.000000

[8 rows x 7 columns]

In [43]:
ativo = df_ativosDoExcel['CÃ“DIGO']

In [44]:
ativo

0      BBAS3
1      BBSE3
2      CMIG4
3      COCE5
4      COGN3
5      CSAN3
6      DIRR3
7      ELET3
8      GGBR4
9      GGBR4
10     IRBR3
11     ITSA4
12     ITSA4
13     JPSA3
14     MTRE3
15     OIBR3
16     RRRP3
17    SAPR11
18     SAPR4
19     VALE3
Name: CÃ“DIGO, dtype: object

In [46]:
display(df_ativosDoExcel.loc[2:4])

  CÃ“DIGO  VAL. ATUAL
2  CMIG4       13.66
3  COCE5       56.41
4  COGN3        4.31

In [ ]:
display(df_ativosDoExcel.loc[)