<a href="https://colab.research.google.com/github/rcarasek/Python-for-Investment/blob/main/pandas%26coalas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PANDAS

In [48]:
import pandas as pd

In [49]:
df = pd.DataFrame()

In [50]:
cofrinho = {'Ativo' : ['BBSE3', 'GGBR4'],
            'Close' : [23.42, 32.70]       }

In [51]:
cofrinho

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [52]:
display(cofrinho)

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [53]:
print(cofrinho)

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [54]:
df_cofrinho = pd.DataFrame(cofrinho)

In [55]:
print(df_cofrinho)

   Ativo  Close
0  BBSE3  23.42
1  GGBR4  32.70

In [56]:
display(df_cofrinho)

   Ativo  Close
0  BBSE3  23.42
1  GGBR4  32.70

In [57]:
df_ativosDoExcel = pd.read_excel('/content/AtivosRCTestePy.xlsx')

In [58]:
display(df_ativosDoExcel)

    CÓDIGO  VAL. ATUAL
0    BBAS3       33.40
1    BBSE3       23.40
2    CMIG4       13.66
3    COCE5       56.41
4    COGN3        4.31
5    CSAN3       21.85
6    DIRR3       13.07
7    ELET3       42.96
8    GGBR4       33.08
9    GGBR4       33.08
10   IRBR3        6.23
11   ITSA4       10.74
12   ITSA4       10.74
13   JPSA3       29.18
14   MTRE3       12.00
15   OIBR3        1.54
16   RRRP3       40.90
17  SAPR11       20.68
18   SAPR4        4.15
19   VALE3      111.00

In [59]:
display(df_ativosDoExcel['CÓDIGO'])

0      BBAS3
1      BBSE3
2      CMIG4
3      COCE5
4      COGN3
5      CSAN3
6      DIRR3
7      ELET3
8      GGBR4
9      GGBR4
10     IRBR3
11     ITSA4
12     ITSA4
13     JPSA3
14     MTRE3
15     OIBR3
16     RRRP3
17    SAPR11
18     SAPR4
19     VALE3
Name: CÓDIGO, dtype: object