<a href="https://colab.research.google.com/github/rcarasek/Python-for-Investment/blob/main/pandas%26coalas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PANDAS

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
cofrinho = {'Ativo' : ['BBSE3', 'GGBR4'],
            'Close' : [23.42, 32.70]       }

In [4]:
display(cofrinho)

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [5]:
print(cofrinho)

{'Ativo': ['BBSE3', 'GGBR4'], 'Close': [23.42, 32.7]}

In [6]:
df_cofrinho = pd.DataFrame(cofrinho)

In [7]:
print(df_cofrinho)

   Ativo  Close
0  BBSE3  23.42
1  GGBR4  32.70

In [8]:
display(df_cofrinho)

   Ativo  Close
0  BBSE3  23.42
1  GGBR4  32.70

In [10]:
df_ativosDoExcel = pd.read_excel('/content/AtivosRCTestePy.xlsx')

In [12]:
display(df_ativosDoExcel)

    CÃ“DIGO  VAL. ATUAL
0    BBAS3       33.40
1    BBSE3       23.40
2    CMIG4       13.66
3    COCE5       56.41
4    COGN3        4.31
5    CSAN3       21.85
6    DIRR3       13.07
7    ELET3       42.96
8    GGBR4       33.08
9    GGBR4       33.08
10   IRBR3        6.23
11   ITSA4       10.74
12   ITSA4       10.74
13   JPSA3       29.18
14   MTRE3       12.00
15   OIBR3        1.54
16   RRRP3       40.90
17  SAPR11       20.68
18   SAPR4        4.15
19   VALE3      111.00

In [ ]:
display(df_ativosDoExcel['CÃ“DIGO'])

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
df_orders = pd.read_csv('/content/orders-2021.05.28-19_04_16.csv')

In [21]:
display(df_orders)

   CÃ³digo;Ativo;Tipo;Natureza;Status;PreÃ§o;Stop;Gain;Quantidade;Qtd. Executada;PreÃ§o MÃ©dio;Criado em;MÃ³dulo;EstratÃ©gia;Criado por;Validade;Cancelada em;Cancelada por;Atualizado em;
0   561826311;BBSER230;Limitada;Compra;Executada;0...
1   561821722;BBSETAR220R230;Limitada;Venda;P. Exe...
2   561816756;ITSAF110;Limitada;Venda;Executada;0....
3   561812046;BBSER230;Limitada;Compra;Cancelada;0...
4   561802786;BBSER230;Limitada;Compra;Executada;0...
5   561716272;BBSER230;Limitada;Compra;Cancelada;0...
6   561685297;GGBRG363;Limitada;Venda;Executada;0....
7   561683052;GGBRG363;Limitada;Venda;Aberta;0.85;...
8   561669864;BBSER230;Limitada;Compra;Executada;0...
9   561654025;BBSETAS210S230;Limitada;Venda;Execut...
10  561652860;BBSETAS210S230;Limitada;Venda;Cancel...
11  561445417;BBSETAS230S240;Limitada;Venda;Execut...
12  561435293;BBSEF245;Limitada;Venda;Aberta;0.22;...
13  561425106;ITSAF110;Limitada;Venda;Executada;0....
14  561422949;ITSAF110;Limitada;Venda;Cancelada;0....
15  561363752;GGBRG353;Limitada;Compra;Executada;1...
16  561339390;BBSER210;Limitada;Venda;Cancelada;0....
17  561326811;BBSES235;Limitada;Venda;Executada;0....
18  561324477;BBSES235;Limitada;Venda;Cancelada;0....
19  561318657;BBSER235;Limitada;Compra;Executada;0...
20  561313212;BBSER235;Limitada;Compra;Cancelada;0...

In [22]:
type(df_orders)

pandas.core.frame.DataFrame