<a href="https://colab.research.google.com/github/rcarasek/Python-for-Investment/blob/main/py_excel000.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [10]:
x = pd.read_excel("/IBOV.xlsx")

In [11]:
x

  COD_ativo       descr_ativo
0     BBSE3    BB SEGURIDADE
1     ITSA4             ITAU
2     VALE3  VALE DO RIO DOCE

In [15]:
print(x['COD_ativo'] [0])

BBSE3

In [16]:
print(x['COD_ativo'])

0    BBSE3
1    ITSA4
2    VALE3
Name: COD_ativo, dtype: object