<a href="https://colab.research.google.com/github/rcarasek/Python-for-Investment/blob/main/Python_For_FinanceBovespa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# import libraries
from datetime import datetime
import numpy as np
import pandas as pd
import pandas_datareader as web
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [21]:
ativosCod = ['ITSA4.SA', 'BBAS3.SA' ]
stockStartDate = '2013-01-01'
today = datetime.today().strftime('%Y-%m-%d')
print(today)
print(type(ativosCod))

2021-05-17
<class 'list'>

In [23]:
# pegar a quantidade de ativos na lista ativosCod
numAtivos = len(ativosCod)
if numAtivos == 0:
  print('não temos ativos na lista')
elif numAtivos == 1:
  print('temos 1 ativo na lista')
else:
  print('Temos ' + str(numAtivos) + ' ativos na lista')

ativosCod

Temos 2 ativos na lista

['ITSA4.SA', 'BBAS3.SA']

In [25]:
# criando uma função para pegar os preços dos ativos
def getMyPortfolio(stocks = ativosCod , start = stockStartDate , end = today, col = 'Adj Close'):
  data = web.DataReader(stocks, data_source='yahoo', start=start, end=end )[col]
  return data

In [26]:
# pegando informações do portfolio de ativos
meusAtivos = getMyPortfolio(ativosCod)
meusAtivos

Symbols      ITSA4.SA   BBAS3.SA
Date
2013-01-02   3.974614  15.510180
2013-01-03   4.101423  15.816780
2013-01-04   4.081606  15.624401
2013-01-07   4.030092  15.720593
2013-01-08   4.057832  15.900935
...               ...        ...
2021-05-11  10.450000  30.549999
2021-05-12  10.250000  30.350000
2021-05-13  10.430000  31.160000
2021-05-14  10.640000  31.160000
2021-05-17  10.600000  31.730000

[2074 rows x 2 columns]